.wrapper{
    margin-top: 28px;
}
.tabs-wrapper{
    gap:36px;
}
.active{
    padding-bottom: 4px;
    color: var(--black);
    border-bottom: 3px solid var(--dark-blue);
}
.add-booking{
    background:var(--primary);
    border-radius: 8px;
    padding: 11px 16px;
    gap:9px;
}
.search-bar-filter-wrapper{
    gap: 12px;
}
.search-wrapper{
  padding: 11px 12px;
  background-color: var(--grey1);
  border-radius: 8px;
}

.search-wrapper input{
    border:none;
    margin-left: 10px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #7F8C8D;
}
.search-wrapper input:focus-visible{
    outline: none;
}
.search-wrapper input::placeholder{
    color:#7F8C8D;
}
.search-wrapper img{
    height: 15px;
    width: 15px;
}
.filter-icon{
  padding: 7px 10px;
  background: #ECF0F1;
  border-radius: 8px;
}
@media screen and (max-width:1023px) {
  .search-wrapper{
    width: 180px;
  }
  .add-booking h5{
    display: none;
  }
  .tabs-wrapper{
    gap: 24px;
  }
}